
body,h1 {font-family: "Raleway", sans-serif}
* {
  margin: 0;
  padding: 0;
}
/*background-img*/
.bgimg {
  background-image: url("wallpaperflare.com_wallpaper.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;

}

.header{
  font-family: Georgia, serif;
  color: #CEAB93;
  font-size: 5vw;
  text-align: center;
  padding-bottom: 2rem;
  padding-top: 3rem;
}
.middle{
  /* display: flex;
  justify-content: center; */
  text-align: center;
  position: relative;
  padding: 3rem;
  top: 9rem;
  bottom: 4rem;
}

.bottom{
  text-align: left;
  padding-left: 0.5rem;
  padding-bottom: 0.5rem;
  color: azure;
  font-size: 1.5 rem;
  position:absolute;
  bottom: 0;
}
/*header is commented in html file*/






/*buttons*/

.button2:hover {
  box-shadow: 0 6px 10px 0 rgba(222, 222, 222, 0.24),0 17px 50px 0 #f9f7f7;
}
.button2 {
  display: inline-block;
  padding: 15px 25px;
  font-size: 2rem;
  cursor: pointer;
  text-decoration-color: #33cd08;
  text-align: center;
  text-decoration: none;
  font-weight: 900;
  outline: none;
  color:#0c0c0c;
  background-color: #E3CAA5;
  border: none;
  border-radius: 10px;
  box-shadow: 0 9px #999;
}

.button2:active {
  background-color: #AD8B73;
  box-shadow: 0 5px #FA7070;
  transform: translateY(6px);
}
.button2 span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button2 span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button2:hover span {
  padding-right: 1.5rem;
}

.button2:hover span:after {
  opacity: 1;
  right: 0;
}
